*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-list-header {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-list-paragraph {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* HEADER ---------------------------------------------------------HEADER----*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  padding: 17px 0;
}

.logo-span {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu-list {
  display: none;
}

.header-navigation-link {
  display: block;
  color: var(--NAVY-BLUE, #2e2f42);
  /* font-size: 16px; */
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: var(--OCEAN, #404bbf);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.address {
  margin-left: auto;
  display: none;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header-address-link {
  display: block;
  color: var(--SLATE, #434455);
  /* font-size: 16px; */
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /* padding: 24px 0; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--OCEAN, #404bbf);
}

/* MOBILE MENU ************************************************** MENU **/

.menu {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  left: 0;
  height: 100%;
  padding-top: 72px;
  padding-left: 16px;
  padding-bottom: 40px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover > .modal-close-icon,
.menu-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.menu-paragraph-studio {
  color: #404bbf;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-item-paragraph {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-address {
  margin-left: auto;
  font-style: normal;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.menu-address-link {
  display: block;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-link:hover,
.menu-address-link:focus {
  color: var(--OCEAN, #404bbf);
}

.menu-tel-link {
  color: #4d5ae5;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-email-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-social-list {
  display: flex;
  gap: 40px;
}
.social-list-item {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.menu-link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-svg {
  fill: #f4f4fd;
}

/* SECTION-HERO --------------------------------------------------- HERO-----*/

.hero-container {
  width: 100%;
  /* padding: 188px 0; */
  padding: 72px 16px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-header {
  /* max-width: 484px; */
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
  max-width: 220px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  max-width: 169px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero-button:hover,
.section-hero-button:focus {
  background: #404bbf;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-bg-mobile-2x-min.jpg');
  }
}

/* SECTION-ADVANTAGES **************************************** ADVANTAGES *******/

.section-advantages {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-advantages-list {
  /* display: flex; */
  /* gap: 24px; */
}

.advantages-item {
  /* width: calc((100% - 3 * 24px) / 4); */
  width: 100%;
}

.advantages-item:not(:last-child) {
  margin-bottom: 72px;
}

.advantages-list-icons {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-list-header {
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.advantages-list-paragraph {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* SECTION-TEAM ****************************************************** TEAM ****/

.section-team {
  background: #f4f4fd;
  /* padding-top: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-container {
  max-width: 320px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
}

.section-team-header {
  text-align: center;
}

.section-team-item {
  /* width: calc((100% - 3 * 24px) / 4); */
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-team-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-img {
  margin: 0 auto;
  min-width: 100%;
}

.team-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-header {
  margin-bottom: 8px;
  text-align: center;
}

.team-list-paragraph {
  text-align: center;
}

.team-list-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-item-icons {
  width: 40px;
  height: 40px;
}

.team-link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icons:hover,
.team-link-icons:focus {
  background-color: #404bbf;
}

.team-link-svg {
  fill: #f4f4fd;
}

.section-header {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-header {
  margin-bottom: 72px;
}

/* OUR PORTFOLIO ******************************************* PORTFOLIO ******* */

.section-portfolio {
  /* padding-top: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-header {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 48px 24px; */
  gap: 48px;
}

.portfolio-list-item {
  position: relative;
  /* width: calc((100% - 2 * 24px) / 3); */
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}

.section-list-img {
  margin: 0 auto;
  width: 100%;
}

.portfolio-image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  align-items: flex-start;
}

.portfolio-list-header {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* FOOTER ******************************************************* FOOTER **** */

.footer {
  /* padding: 100px 0; */
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  /* margin-right: 120px; */
}

.footer-logo {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-social-paragraph {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo-span {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-paragraph {
  max-width: 264px;
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-list-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
  /* margin-right: 80px; */
}

.footer-item-icons {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.footer-link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icons:hover,
.footer-link-icons:focus {
  background-color: #31d0aa;
}

.footer-link-svg {
  fill: #f4f4fd;
}

.footer-subscribe-wrapper {
  align-items: center;
  justify-content: space-between;
}

.footer-subscribe-paragraph {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-form {
  /* display: flex; */
  gap: 24px;
}

.footer-label-subscribe {
  display: flex;
}

.footer-input {
  display: flex;
  margin: 0 auto;
  width: 264px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  /* margin-right: 24px; */
  margin-bottom: 16px;
}

.footer-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-button-wrapper {
  display: flex;
  justify-content: center;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  margin: 0 0;
}

.footer-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

/* MODAL WINDOW  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  max-width: 288px;
  width: 100%;
  padding: 72px 24px 24px 24px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-heading {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-button {
  min-width: 169px;
  display: block;
  padding: 16px 32px;
  border: none;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 360px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  resize: none;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.checkbox-text {
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}

.checkbox-text a {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03px;
  text-decoration-line: underline;
}

.checkbox-input:checked + .checkbox-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 8px;
  background-color: #fff;
  border: 1px solid rgba(46, 47, 66, 0.4);
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* TABLET *************************************************** TABLET ********  */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .modal {
    max-width: 408px;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .address {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-link {
    font-size: 12px;
    line-height: 1.5;
  }

  .open-menu-btn {
    display: none;
  }

  .footer-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .footer-top-wrapper {
    flex-direction: row;
    margin: 0 0;
    gap: 24px;
  }

  .footer-bottom-wrapper {
    display: flex;
    margin: 0 auto;
    gap: 24px;
  }
  .footer-logo {
    display: unset;
  }

  .footer-paragraph {
    min-width: 264px;
  }

  .footer-social-paragraph {
    display: unset;
    margin-bottom: 16px;
  }

  .footer-subscribe-wrapper {
    margin: 0 0;
  }

  .footer-subscribe-paragraph {
    justify-content: unset;
  }

  .footer-form {
    display: flex;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .hero-container {
    padding: 112px 136px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-bg-tablet-1x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/people-office-bg-tablet-2x-min.jpg');
    }
  }

  .hero-header {
    max-width: 496px;
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
  }

  .section-advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-item:not(:last-child) {
    margin-bottom: 0;
  }

  .advantages-list-header {
    text-align: start;
  }

  .team-container {
    max-width: 768px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .section-team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .section-team-item {
    width: calc((100% - 24px) / 2);
  }

  .section-team-item:not(:last-child) {
    margin-bottom: 0;
  }
}

/* DESKTOP ****************************************************** DESKTOP ***** */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .modal {
    max-width: 408px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-navigation-link {
    font-size: 16px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: unset;
  }

  .footer-wrapper {
    gap: 0;
  }

  .footer-top-wrapper {
    margin: unset;
    gap: 0;
  }

  .footer-logo-wrapper {
    margin-bottom: unset;
    margin-right: 120px;
  }

  .footer-list-icons {
    margin-bottom: unset;
  }

  .footer-bottom-wrapper {
    display: flex;
  }

  .footer-social-wrapper {
    margin-right: 80px;
  }

  .footer-social-paragraph {
    display: flex;
    justify-content: unset;
    margin-bottom: 16px;
  }

  .section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  .hero-container {
    padding: 188px 0px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-bg-desktop.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/people-office-bg-desktop-2x-min.jpg');
    }
  }
  .hero-header {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
  }

  .section-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-advantages-list {
    display: flex;
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
    margin-bottom: 0;
  }

  .advantages-list-icons {
    display: flex;
  }

  .advantages-list-header {
    color: #2e2f42;
    text-align: start;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .advantages-list-paragraph {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-container {
    max-width: 1158px;
  }

  .team-item-content {
    display: flex;
    gap: 0;
  }

  .team-list-header {
    margin-bottom: unset;
  }

  .team-list-paragraph {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .section-team-list {
    display: flex;
    gap: 24px;
  }
  .section-team-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
